<!DOCTYPE html>
<html>
  <head>
    <title>BookAnAppointment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Motorcyle appointment">
    <meta property="og:description" content="Motorcycle appointment is a web platform designed for enthusiasts of motorcycles. It provides an opportunity to explore the newest models from top brands and make reservations for thrilling rides.">
    <meta property="og:image" content="https://seeklogo.com/images/M/motorcycle-logo-0A99FC1E6E-seeklogo.com.png">
    <meta property="og:url" content="https://motorcycle-lksr.onrender.com">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <div>
    <%= yield %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </body>
</html>
